form:invalid button[type="submit"] {
  background-color: #c9542d;
  color: #fff;
}

form:valid button[type="submit"] {
  background-color: #1e6b07;
  color: #fff;
}

.container {
  position: relative;
}

label {
  position: absolute;
  left: 15px;
  top: -6px;
  background-color: #5a5a5a;
  color: #fff;
  font-size: x-small;
  font-weight: bold;
  padding: 0 8px;
  border-radius: 4px;
}

input {
  padding: 12px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

input:focus-within {
  outline: none;
}

input:invalid {
  background-color: #ffdddd;
  border: 1px solid #800000;
  color: red;
}

input:optional {
  border-left: 3px solid rgb(73, 255, 89);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

input:required {
  border-left: 3px solid red;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

input:read-only {
  border-left: 3px solid rgb(136, 136, 136);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

input:disabled {
  border-left: 3px solid rgb(59, 59, 59);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

input:required:valid {
  border-left: 3px solid rgb(0, 131, 22);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

input:invalid + .error {
  position: absolute;
  bottom: -6px;
  left: 15px;
  font-size: x-small;
  background-color: #c9542d;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;

  &::after {
    content: attr(data-error);
  }
}

/* input:required:invalid {
  border-color: #c00000;
} */

/* input:valid {
  background-color: #ddffdd;
} */

/* form:invalid {
  border: 5px solid #ffdddd;
} */

/* form:valid {
  border: 5px solid #ddffdd;
} */
