/* *****************************DISPLAY****************************** */
.block {
  display: block;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

/* *****************************GRID****************************** */
.grid-row {
  display: grid;
  grid-auto-flow: row;
}
.grid-column {
  display: grid;
  grid-auto-flow: column;
}

/* *****************************JUSTIFY****************************** */
.justify-content-center {
  display: grid;
  justify-content: center;
}
.justify-items-center {
  display: grid;
  justify-items: center;
}
.justify-self-center {
  display: grid;
  justify-self: center;
}
.justify-tracks-center {
  display: grid;
  justify-tracks: center;
}

/* *****************************POSITION****************************** */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}
