* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  position: relative;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  position: relative;
  height: 100%;
  text-align: center;
}

.drag {

}

.drop {
  position: absolute;
  bottom: 0px;
  background-color: #ededed;
  height: 400px;
  width: 100%;
}