/* *****************************DISPLAY****************************** */
.block {
  display: block;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
/* *****************************GRID****************************** */
.grid-row {
  display: grid;
  grid-auto-flow: row;
}
.grid-column {
  display: grid;
  grid-auto-flow: column;
}

/* *****************************POSITION****************************** */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.fixed {
  position: fixed;
}